@let mediaDetails = this.mediaDetails();
@let hasTime =
    (contentType() === CONTENT_TYPE.MOVIE && mediaDetails.runtime) ||
    (contentType() === CONTENT_TYPE.TV && mediaDetails.numberSeason);
@let hasGenres = mediaDetails.genres && mediaDetails.genres.length > 0;
@let hasDate = mediaDetails.releaseDate.length > 0;
<div class="media-tags">
    @if (hasDate) {
        <div class="media-tags-item">
            <p>{{ mediaDetails.releaseDate | displayDate }}</p>
        </div>

        @if (hasTime || hasGenres) {
            <span>·</span>
        }
    }

    @if (hasTime) {
        <div class="media-tags-item">
            @if (contentType() === CONTENT_TYPE.MOVIE && mediaDetails.runtime) {
                <p>{{ mediaDetails.runtime | displayRuntime }}</p>
            }
            @if (contentType() === CONTENT_TYPE.TV && mediaDetails.numberSeason) {
                <p>{{ mediaDetails.numberSeason | displaySeasonsNumber }}</p>
            }
        </div>
        @if (hasGenres) {
            <span>·</span>
        }
    }

    @if (hasGenres) {
        <div class="media-tags-item">
            <p>{{ mediaDetails.genres ?? [] | displayGenre }}</p>
        </div>
    }
</div>
