<app-popup (close)="close.emit()" [animateOnInit]="false">
    <div class="watchlists">
        <div class="overlay"></div>
        <div class="watchlists-content">
            <h1 class="watchlists-title">Mes Watchlists</h1>
            <div class="watchlists-list">
                @for (watchlist of watchlists(); track watchlist.uidWatchlist) {
                    <div
                        class="watchlist"
                        [class.active]="watchlist.uidWatchlist === activeWatchlist()?.uidWatchlist"
                    >
                        <div
                            class="watchlist-name"
                            (click)="selectWatchlist(watchlist.uidWatchlist)"
                        >
                            {{ watchlist.name }}
                        </div>
                        <app-button
                            class="watchlist-delete"
                            customClass="btn-cta btn-round"
                            (action)="removeWatchlist(watchlist.uidWatchlist)"
                            ><svg lucideTrash></svg>
                        </app-button>
                    </div>
                }
            </div>
            <app-button
                class="watchlists-add"
                customClass="btn-primary"
                (action)="createWatchlist()"
                ><svg lucideCirclePlus></svg>Créer une watchlist</app-button
            >
        </div>
    </div>
</app-popup>
