.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-color);
    overflow-y: scroll;
    padding-bottom: 0;
}

.page-header {
    gap: 0.25rem;
}

.magic-search {
    margin-left: auto;
}

.content {
    height: 100%;
}
