<main class="page search-wrapper">
    <div class="overlay"></div>
    <div class="search-header">
        <app-button customClass="btn-default btn-bordered" (action)="closeSearchPage()"
            ><i class="fa-solid fa-arrow-left"></i
        ></app-button>
        <app-searchbar
            class="searchbar-component"
            placeholder="On regarde quoi"
            inputName="medias-search"
            inputId="medias-search"
            [searchValue]="searchValue()"
            (onSearchChanged)="this.searchValue.set($event)"
        ></app-searchbar>
        <app-button customClass="btn-default btn-bordered" (action)="switchView()">
            @if (contentTypeFilter() === CONTENT_TYPE.MOVIE) {
                <i class="fa-solid fa-film"></i>
            } @else {
                <i class="fa-solid fa-laptop"></i>
            }
        </app-button>
    </div>
    @if (searchValue().length > 1) {
        <div class="results-grid" #gridResults>
            @for (item of filteredSearchResults(); track item.id) {
                @if (item.posterPath) {
                    <app-card
                        class="results-grid-item"
                        [posterPath]="item.posterPath"
                        (openDetails)="handleShowDetails(item)"
                    ></app-card>
                }
            } @empty {
                @if (searchResults()) {
                    <p class="results-grid-empty">Aucun résultats</p>
                }
            }
        </div>
    } @else {
        <div class="trendings">
            <div class="trendings-header">
                {{ contentTypeFilter() === CONTENT_TYPE.MOVIE ? 'Films' : 'Séries' }} Populaires
            </div>
            <div class="trendings-grid">
                @if (trendingsResource.isLoading()) {
                    @for (_ of Array(15); track $index) {
                        <div class="card-skeleton"></div>
                    }
                } @else {
                    @for (item of trendingsResource.value(); track item.id) {
                        @if (item.posterPath) {
                            <app-card
                                [posterPath]="item.posterPath"
                                (openDetails)="handleShowDetails(item)"
                            ></app-card>
                        }
                    }
                }
            </div>
        </div>
    }
</main>

@if (showDetailsPopup()) {
    <app-media-popup-details
        [view]="PAGE_VIEW_TYPE.SEARCH"
        [contentType]="contentTypeFilter()"
        [itemInfos]="selectedInfo"
        [animatePopup]="animatePopupDetails()"
        (close)="closeDetailsPopup()"
        (addedToCollection)="onMediaAddedToWatchlist()"
        (updating)="handleUpdate()"
    ></app-media-popup-details>
}
