<main class="page search-wrapper">
    <div class="overlay"></div>
    <header class="page-header">
        <h1 class="page-title">Rechercher</h1>
        <app-button
            class="magic-search"
            [customClass]="`${isMagicSearchActivated() ? 'btn-cta' : 'btn-default'} btn-bordered btn-round`"
            (action)="switchSearchType()"
        >
            <i class="fa-solid fa-wand-magic-sparkles"></i>
        </app-button>
    </header>

    @if (isMagicSearchActivated()) {
        <app-magic-search
            class="content"
            (onCardClicked)="handleShowDetails($event)"
        ></app-magic-search>
    } @else {
        <app-classic-search
            class="content"
            (onCardClicked)="handleShowDetails($event)"
        ></app-classic-search>
    }
</main>

@if (showDetailsPopup()) {
    <app-media-popup-details
        [view]="PAGE_VIEW_TYPE.SEARCH"
        [contentType]="contentTypeFilter()"
        [itemInfos]="selectedInfo()"
        (close)="closeDetailsPopup()"
        (addedToCollection)="onMediaAddedToWatchlist()"
    ></app-media-popup-details>
}
