@let mediaDetails = this.mediaDetails();
<div class="media-infos">
    <div class="media-infos-header">Infos</div>

    <div class="media-overview">
        <p>
            {{
                mediaDetails.overview.length > 0
                    ? mediaDetails.overview
                    : 'Aucun synopsis disponible.'
            }}
        </p>
    </div>

    <div class="media-tags">
        @if (view() === PAGE_VIEW_TYPE.WATCHLIST) {
            <div class="media-owner tag">
                <p>{{ ownerName() }}</p>
            </div>
        }

        @if (mediaDetails.voteAverage > 0) {
            <div class="media-grade tag">
                <svg lucideStar></svg>
                <p>{{ mediaDetails.voteAverage | displayRate }}/5</p>
            </div>
        }

        @if (mediaDetails.provider) {
            <div class="media-platform tag">
                <svg lucideTvMinimal></svg>
                <p>{{ mediaDetails.provider | displayProvider }}</p>
            </div>
        }
    </div>
</div>
