<div class="input" [class.active]="isInputActive()">
    <input
        #usernameInput
        [type]="type()"
        [name]="name()"
        [id]="id()"
        [placeholder]="placeholder()"
        [value]="value()"
        [spellcheck]="spellcheck()"
        [autocapitalize]="autocapitalize() ? 'on' : 'off'"
        [disabled]="disabled()"
        [class.error]="hasErrorMessage()"
        [autocomplete]="autocomplete()"
        (input)="onInput.emit($event)"
        (focus)="isInputActive.set(true)"
        (blur)="isInputActive.set(false)"
    />
</div>
