<nav class="navbar">
    <a
        class="navbar-item"
        routerLink="/watchlist"
        (click)="scrollService.shouldScrollToTop.set(true)"
        routerLinkActive="active"
    >
        <svg class="navbar-icon" lucideLibraryBig></svg>
        <span class="navbar-label">Watchlists</span>
    </a>

    <a
        class="navbar-item"
        routerLink="/trendings"
        (click)="scrollService.shouldScrollToTop.set(true)"
        routerLinkActive="active"
    >
        <svg class="navbar-icon" lucideFlame></svg>
        <span class="navbar-label">Tendances</span>
    </a>

    <a
        class="navbar-item"
        routerLink="/search"
        (click)="scrollService.shouldScrollToTop.set(true)"
        routerLinkActive="active"
    >
        <svg class="navbar-icon" lucideSearch></svg>
        <span class="navbar-label">Rechercher</span>
    </a>

    <a
        class="navbar-item"
        routerLink="/profile"
        (click)="scrollService.shouldScrollToTop.set(true)"
        routerLinkActive="active"
    >
        <svg class="navbar-icon" lucideUserRound></svg>
        <span class="navbar-label">Compte</span>
    </a>
</nav>
