<nav class="navbar">
    <a class="navbar-item" routerLink="/watchlist" routerLinkActive="active" replaceUrl="true">
        <span class="navbar-icon"><i class="fa-regular fa-bookmark"></i></span>
        <span class="navbar-label">Watchlists</span>
    </a>
    <a class="navbar-item" routerLink="/trendings" routerLinkActive="active" replaceUrl="true">
        <span class="navbar-icon"><i class="fa-solid fa-fire"></i></span>
        <span class="navbar-label">Tendances</span>
    </a>
    <a class="navbar-item" routerLink="/search" routerLinkActive="active" replaceUrl="true">
        <span class="navbar-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <span class="navbar-label">Rechercher</span>
    </a>
    <a class="navbar-item" routerLink="/profile" routerLinkActive="active" replaceUrl="true">
        <span class="navbar-icon"><i class="fa-regular fa-user"></i></span>
        <span class="navbar-label">Compte</span>
    </a>
</nav>
