.watchlist {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.page-header {
    gap: 0.25rem;
}

.watchlist-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    padding: 0 0.5rem;
    position: relative;
    margin: 2.5rem 0;
}

.watchlist-title {
    color: var(--primary-text-color);
    opacity: 0.9;
    font-size: 2.125rem;
    font-family: 'Syne';
    line-height: 100%;
    font-weight: 800;
    text-align: center;
}

.watchlist-members {
    display: flex;
    gap: 0.25rem;
}

.members-add {
    --height: 2.5rem;
}

.watchlist-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;

    ::ng-deep .button {
        font-size: 1rem !important;
        padding: 0.625rem 1.75rem !important;
    }
}

.content-type-filter:nth-child(3) {
    margin-left: auto;
}

.watchlist-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.watchlist-views {
    display: flex;
    gap: 1rem;

    .watchlist-view {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--third-text-color);
        text-transform: capitalize;
        transition: color 0.4s ease;
        padding: 0 0.5rem;

        &.active {
            color: var(--primary-text-color);
            font-weight: 600;
        }
    }
}

.watchlist-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 29vw), 1fr));
    gap: 0.5rem;

    &-item {
        width: 100%;
        scroll-snap-align: start;
    }

    &-empty {
        color: var(--secondary-text-color);
        grid-column: 1 / -1;
        text-align: center;
        padding: 1rem;
    }
}
