@let activeWatchlist = this.activeWatchlist();
@if (userWatchlists(); as lists) {
    <main class="watchlist page" #watchlistPage>
        <div class="overlay"></div>

        <header class="page-header">
            @if (lists.length > 0) {
                <app-button
                    class="watchlists-btn"
                    customClass="btn btn-bordered"
                    (action)="openPopup(POPUP.WATCHLISTS)"
                >
                    <svg lucideLibraryBig></svg>Mes Watchlists
                </app-button>
            }
        </header>

        @if (lists?.length === 0) {
            <div class="watchlist-infos">
                <h1 class="watchlist-title">Aucune Watchlist</h1>
                <div class="watchlist-actions">
                    <app-button
                        class="watchlist-search"
                        customClass="btn-cta"
                        (action)="showNewWatchlistPopup.set(true)"
                    >
                        Créer une watchlist
                    </app-button>
                </div>
            </div>
        } @else if (activeWatchlist) {
            <div class="watchlist-infos">
                <h1 class="watchlist-title">{{ activeWatchlist.name }}</h1>
                @let membersCount =
                    this.watchlistMembersCountPipe.transform(activeWatchlist.members);

                @if (membersCount) {
                    <div class="watchlist-members">
                        <app-button class="members-count" customClass="btn-default btn-bordered">
                            <svg lucideUsersRound></svg>
                            {{ membersCount }} Membre{{ membersCount > 1 ? 's' : '' }}
                        </app-button>
                        <app-button
                            class="members-add"
                            customClass="btn-primary btn-bordered btn-round"
                            (action)="openPopup(POPUP.MEMBERS)"
                        >
                            <svg lucideCirclePlus></svg>
                        </app-button>
                    </div>
                }
            </div>

            <div class="watchlist-content">
                <div class="content-type-filters">
                    <div
                        class="content-type-filter"
                        [class.active]="contentTypeFilter() === CONTENT_TYPE.MOVIE"
                        (click)="setContentType(CONTENT_TYPE.MOVIE)"
                    >
                        Films
                    </div>
                    <div
                        class="content-type-filter"
                        [class.active]="contentTypeFilter() === CONTENT_TYPE.TV"
                        (click)="setContentType(CONTENT_TYPE.TV)"
                    >
                        Séries
                    </div>
                    <div
                        class="content-type-filter"
                        [class.active]="contentViewTypeFilter() === CONTENT_VIEW_TYPE.NOT_SEEN"
                        (click)="setView(CONTENT_VIEW_TYPE.NOT_SEEN)"
                    >
                        Pas vus
                    </div>
                    <div
                        class="content-type-filter"
                        [class.active]="contentViewTypeFilter() === CONTENT_VIEW_TYPE.SEEN"
                        (click)="setView(CONTENT_VIEW_TYPE.SEEN)"
                    >
                        Vus
                    </div>
                </div>

                <div class="watchlist-list" #watchlistWrapper>
                    @let filteredList = filteredWatchlist();
                    @if (filteredList) {
                        @for (item of filteredList.medias; track item.uidMedia) {
                            <app-card
                                [posterPath]="item.mediaDetails.posterPath"
                                (openDetails)="openPopup(POPUP.ITEM_DETAILS, item)"
                            ></app-card>
                        } @empty {
                            <p class="watchlist-list-empty">
                                {{
                                    contentTypeFilter() === CONTENT_TYPE.MOVIE
                                        ? 'Aucun films'
                                        : 'Aucune séries'
                                }}
                            </p>
                        }
                    } @else {
                        @for (_ of Array(15); track $index) {
                            <div class="card-skeleton"></div>
                            <div class="card-skeleton"></div>
                            <div class="card-skeleton"></div>
                            <div class="card-skeleton"></div>
                            <div class="card-skeleton"></div>
                            <div class="card-skeleton"></div>
                        }
                    }
                </div>
            </div>
        }
    </main>
}

@if (showDetailsPopup()) {
    <app-media-popup-details
        [view]="PAGE_VIEW_TYPE.WATCHLIST"
        [contentType]="contentTypeFilter()"
        [itemInfos]="selectedInfo()"
        (close)="closePopup(POPUP.ITEM_DETAILS)"
        (addedToCollection)="closePopup(POPUP.ITEM_DETAILS)"
        (removedFromCollection)="closePopup(POPUP.ITEM_DETAILS)"
    ></app-media-popup-details>
}

@if (showWatchlistsPopup()) {
    <app-watchlists-popup
        [watchlists]="userWatchlists()!"
        (close)="closePopup(POPUP.WATCHLISTS)"
        (createNewWatchlist)="openPopup(POPUP.NEW_WATCHLIST)"
    ></app-watchlists-popup>
}

@if (showNewWatchlistPopup()) {
    <app-new-watchlist-popup
        (close)="closePopup(POPUP.NEW_WATCHLIST)"
        (onWatchlitCreated)="handleNewWatchlist($event)"
    ></app-new-watchlist-popup>
}

@if (showMembersPopup() && activeWatchlist) {
    <app-members-popup
        [activeWatchlist]="activeWatchlist"
        (close)="closePopup(POPUP.MEMBERS)"
        (inviteFriends)="openPopup(POPUP.ADD_MEMBERS)"
    ></app-members-popup>
}

@if (showAddMembersPopup() && activeWatchlist) {
    <app-add-members-popup
        [activeWatchlist]="activeWatchlist"
        (close)="closePopup(POPUP.ADD_MEMBERS)"
    ></app-add-members-popup>
}
