@let mediaDetails = this.mediaDetails();
@let mediaSeenStatus = this.mediaSeenStatus();
@let mediaGrade = this.mediaGrade();
<div class="media-actions">
    @if (view() !== PAGE_VIEW_TYPE.WATCHLIST) {
        <app-button
            customClass="btn-default btn-bordered"
            [disabled]="!mediaDetails.trailer"
            (action)="openTrailer.emit()"
        >
            <i class="fa-solid fa-play"></i
        ></app-button>

        <app-button customClass="btn-primary" (action)="add.emit()">
            <i class="fa-solid fa-plus"></i>Ajouter</app-button
        >

        <app-button customClass="btn-default btn-bordered" (action)="updateSeenStatus.emit()">
            @if (mediaSeenStatus) {
                <i class="fa-solid fa-eye" @viewIconAnimation></i>
            } @else {
                <i class="fa-solid fa-eye-slash" @viewIconAnimation></i>
            }
        </app-button>
    }
    @if (view() === PAGE_VIEW_TYPE.WATCHLIST) {
        @if (actionsView() === ACTION_VIEW.DEFAULT) {
            <app-button customClass="btn-default btn-bordered" (action)="updateSeenStatus.emit()">
                @if (mediaSeenStatus) {
                    <i class="fa-solid fa-eye" @viewIconAnimation></i>
                } @else {
                    <i class="fa-solid fa-eye-slash" @viewIconAnimation></i>
                }
            </app-button>

            @if (mediaSeenStatus) {
                <app-button
                    customClass="btn-primary"
                    (action)="changeActionsView.emit(ACTION_VIEW.GRADES)"
                >
                    <i class="fa-solid fa-heart" [ngClass]="gradesBtnContent().icon"></i
                    >{{ gradesBtnContent().text }}
                </app-button>
            } @else {
                @if (mediaDetails.trailer) {
                    <app-button customClass="btn-primary" (action)="openTrailer.emit()">
                        <i class="fa-solid fa-play"></i>
                        Bande-Annonce</app-button
                    >
                }
            }

            <app-button customClass="btn-default btn-bordered" (action)="remove.emit()">
                <i class="fa-solid fa-trash-can"></i
            ></app-button>
        } @else {
            <div class="media-grades">
                <app-button
                    customClass="btn-primary"
                    (action)="changeActionsView.emit(ACTION_VIEW.DEFAULT)"
                >
                    <i class="fa-solid fa-xmark"></i
                ></app-button>
                <app-button
                    (action)="updateGrade.emit(GRADE.DONT_LIKE)"
                    [customClass]="
                        'btn-bordered ' +
                        (mediaGrade === GRADE.DONT_LIKE ? 'btn-bordered-active' : '')
                    "
                >
                    <i
                        [class]="
                            mediaGrade === GRADE.DONT_LIKE
                                ? 'fa-solid fa-thumbs-down'
                                : 'fa-regular fa-thumbs-down'
                        "
                    ></i>
                </app-button>

                <app-button
                    (action)="updateGrade.emit(GRADE.LIKE)"
                    [customClass]="
                        'btn-bordered ' + (mediaGrade === GRADE.LIKE ? 'btn-bordered-active' : '')
                    "
                >
                    <i
                        [class]="
                            mediaGrade === GRADE.LIKE
                                ? 'fa-solid fa-thumbs-up'
                                : 'fa-regular fa-thumbs-up'
                        "
                    ></i>
                </app-button>

                <app-button
                    (action)="updateGrade.emit(GRADE.LOVE)"
                    [customClass]="
                        'btn-bordered ' + (mediaGrade === GRADE.LOVE ? 'btn-bordered-active' : '')
                    "
                >
                    <i
                        [class]="
                            mediaGrade === GRADE.LOVE ? 'fa-solid fa-heart' : 'fa-regular fa-heart'
                        "
                    ></i>
                </app-button>
            </div>
        }
    }
</div>
