@let mediaDetails = this.mediaDetails();
@let mediaSeenStatus = this.mediaSeenStatus();
@let mediaGrade = this.mediaGrade();
<div class="media-actions">
    @if (view() !== PAGE_VIEW_TYPE.WATCHLIST) {
        <app-button
            customClass="btn-default btn-bordered"
            [disabled]="!mediaDetails.trailer"
            (action)="openTrailer.emit()"
        >
            <svg lucidePlay></svg>
        </app-button>

        <app-button customClass="btn-primary" (action)="add.emit()">
            <svg lucideCirclePlus></svg>Ajouter</app-button
        >

        <app-button customClass="btn-default btn-bordered" (action)="updateSeenStatus.emit()">
            @if (mediaSeenStatus) {
                <svg lucideEye @viewIconAnimation height="0"></svg>
            } @else {
                <svg lucideEyeOff @viewIconAnimation></svg>
            }
        </app-button>
    }
    @if (view() === PAGE_VIEW_TYPE.WATCHLIST) {
        @if (actionsView() === ACTION_VIEW.DEFAULT) {
            <app-button customClass="btn-default btn-bordered" (action)="updateSeenStatus.emit()">
                @if (mediaSeenStatus) {
                    <svg lucideEye @viewIconAnimation height="0"></svg>
                } @else {
                    <svg lucideEyeOff @viewIconAnimation></svg>
                }
            </app-button>

            @if (mediaSeenStatus) {
                <app-button
                    customClass="btn-primary"
                    (action)="changeActionsView.emit(ACTION_VIEW.GRADES)"
                >
                    <svg [lucideIcon]="gradesBtnContent().icon" class="active"></svg>
                    {{ gradesBtnContent().text }}
                </app-button>
            } @else {
                @if (mediaDetails.trailer) {
                    <app-button customClass="btn-primary" (action)="openTrailer.emit()">
                        <svg lucidePlay class="active"></svg>
                        Bande-Annonce</app-button
                    >
                }
            }

            <app-button customClass="btn-default btn-bordered" (action)="remove.emit()">
                <svg lucideTrash></svg>
            </app-button>
        } @else {
            <div class="media-grades">
                <app-button
                    customClass="btn-primary"
                    (action)="changeActionsView.emit(ACTION_VIEW.DEFAULT)"
                >
                    <svg lucideCircleX></svg>
                </app-button>
                <app-button
                    (action)="updateGrade.emit(GRADE.DONT_LIKE)"
                    [customClass]="
                        'btn-bordered ' +
                        (mediaGrade === GRADE.DONT_LIKE ? 'btn-bordered-active' : '')
                    "
                >
                    <svg lucideThumbsDown></svg>
                </app-button>

                <app-button
                    (action)="updateGrade.emit(GRADE.LIKE)"
                    [customClass]="
                        'btn-bordered ' + (mediaGrade === GRADE.LIKE ? 'btn-bordered-active' : '')
                    "
                >
                    <svg lucideThumbsUp></svg>
                </app-button>

                <app-button
                    (action)="updateGrade.emit(GRADE.LOVE)"
                    [customClass]="
                        'btn-bordered ' + (mediaGrade === GRADE.LOVE ? 'btn-bordered-active' : '')
                    "
                >
                    <svg lucideHeart></svg>
                </app-button>
            </div>
        }
    }
</div>
