.media-actions {
    display: flex;
    justify-content: center;
    gap: 0.375rem;
    width: 16rem;
    --height: 2.875rem;

    &::ng-deep {
        .button {
            font-size: 1rem !important;

            &::ng-deep svg {
                height: 1.125rem !important;
            }
        }
    }

    &::ng-deep .btn-default {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.media-grades {
    position: relative;
    display: flex;
    gap: 0.25rem;

    &::ng-deep .button {
        height: var(--height);
        width: var(--height);

        &::ng-deep svg {
            position: absolute;
        }
    }
}

svg.active {
    fill: currentColor;
}
