<main class="profile page">
    <div class="overlay"></div>
    <header class="page-header">
        <h1 class="page-title">Compte</h1>
        <app-button
            class="logout"
            customClass="btn-default btn-bordered btn-round"
            (action)="logOut()"
        >
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </app-button>
    </header>
    <section class="profile-header">
        <div class="profile-avatar"><app-avatar></app-avatar></div>

        <div class="profile-infos">
            <div class="profile-name">{{ user()?.name }}</div>
            <div class="profile-username">&#64;{{ user()?.username }}</div>
        </div>
    </section>

    @let watchlistInvitations = this.watchlistInvitations();
    @let medias = this.medias();

    @if (watchlistInvitations && watchlistInvitations.length > 0) {
        <section class="invitations">
            <h2 class="profile-section-title">Invitations</h2>
            <div class="invitations-list">
                @for (
                    watchlistInvitation of watchlistInvitations;
                    track watchlistInvitation.uidWatchlist
                ) {
                    <app-invitation
                        [watchlistName]="watchlistInvitation.name"
                        (acceptInvitation)="
                            handleInvitation(watchlistInvitation.uidWatchlist, true)
                        "
                        (declineInvitation)="
                            handleInvitation(watchlistInvitation.uidWatchlist, false)
                        "
                    ></app-invitation>
                }
            </div>
        </section>
    }

    @if (medias && medias.length > 0) {
        <section class="history">
            <h2 class="profile-section-title">Historique</h2>

            <div class="history-tags">
                @if (this.movieMediasCount() > 0) {
                    <div
                        class="history-tag"
                        [class.active]="historyFilter() === CONTENT_TYPE.MOVIE"
                        (click)="historyFilter.set(CONTENT_TYPE.MOVIE)"
                    >
                        Films
                    </div>
                }

                @if (this.seriesMediasCount() > 0) {
                    <div
                        class="history-tag"
                        [class.active]="historyFilter() === CONTENT_TYPE.TV"
                        (click)="historyFilter.set(CONTENT_TYPE.MOVIE)"
                        (click)="historyFilter.set(CONTENT_TYPE.TV)"
                    >
                        Séries
                    </div>
                }

                @if (this.loveMediasCount() > 0) {
                    <div
                        class="history-tag"
                        [class.active]="historyFilter() === GRADE.LOVE"
                        (click)="historyFilter.set(GRADE.LOVE)"
                    >
                        <i class="fa-regular fa-heart"></i>
                    </div>
                }

                @if (this.likeMediasCount() > 0) {
                    <div
                        class="history-tag"
                        [class.active]="historyFilter() === GRADE.LIKE"
                        (click)="historyFilter.set(GRADE.LIKE)"
                    >
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                }

                @if (this.notLikeMediasCount() > 0) {
                    <div
                        class="history-tag"
                        [class.active]="historyFilter() === GRADE.DONT_LIKE"
                        (click)="historyFilter.set(GRADE.DONT_LIKE)"
                    >
                        <i class="fa-regular fa-thumbs-down"></i>
                    </div>
                }
            </div>
            <div class="history-grid">
                @for (media of filteredMedias(); track media.uidMedia) {
                    <app-card [posterPath]="media.mediaDetails.posterPath"></app-card>
                }
            </div>
        </section>
    }
</main>
