<app-popup (close)="close.emit()" [animateOnInit]="false">
    <div class="members">
        <div class="overlay"></div>
        <div class="members-content">
            <h1 class="members-title">Membres</h1>
            <div class="members-list">
                @for (member of activeWatchlist().members; track member.uid) {
                    <div class="member" [class.active]="member.invitationAccepted">
                        <div class="member-name">
                            {{ member.name }}
                        </div>
                        <app-button
                            class="member-delete"
                            customClass="btn-cta"
                            (action)="removeMember(activeWatchlist().uidWatchlist, member.uid)"
                            ><i class="fa-solid fa-trash"></i
                        ></app-button>
                    </div>
                }
            </div>
            <app-button
                class="members-invite"
                customClass="btn-primary"
                (action)="inviteFriendsActions()"
                ><i class="fa-solid fa-users"></i>Inviter des amis</app-button
            >
        </div>
    </div>
</app-popup>
