:host::ng-deep {
    .popup {
        padding-top: 0 !important;
    }
}
.media-details-popup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    width: 100%;

    --height-cover: 50lvh;

    .backdrop-cover {
        height: var(--height-cover);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &-overlay {
            background: linear-gradient(
                180deg,
                rgba(3, 7, 18, 0) 0.25%,
                rgba(3, 7, 18, 0.85) 71.88%,
                rgba(3, 7, 18, 0.95) 83.98%,
                #030712 97%
            );
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .content {
        padding-top: calc(var(--height-cover) - 5rem);
        left: 0;
        width: 100%;

        & .backdrop-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: blur(100px) saturate(2);
            transform: scale(1.5);
            pointer-events: none;
            opacity: 0.3;
            border-radius: 100rem;
        }
    }
}

.media-details-skeleton {
    background-color: rgba(255, 255, 255, 0.1);
    animation: skeleton-loading 0.8s linear infinite alternate;
    width: 100%;
    height: 100%;
}

.media-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    position: relative;
    padding: 0 1.5rem 2.5rem 1.5rem;

    & .media-infos {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    :host::ng-deep .popup {
        max-height: 700px;
        height: fit-content;
    }

    .media-details-popup {
        max-height: 700px;

        --height-cover: 35lvh;
    }

    .media-details-skeleton {
        height: 700px;
    }
}
