<div class="onboard page">
    <div class="background">
        <div class="background-overlay"></div>
        <img src="movie-grid.webp" alt="" class="background-image" />
    </div>
    <div class="onboard-content">
        <p class="onboard-text">Suivez ce que vous avez vu et ce que vous voulez voir.</p>
        <div class="onbard-actions">
            <a class="onbard-action" href="/access"
                ><app-button customClass="btn-bordered">Commencer</app-button></a
            >
        </div>
    </div>
</div>
