<div class="input-dropdown">
    <app-input
        class="input"
        type="text"
        [name]="name()"
        [id]="id()"
        [placeholder]="placeholder()"
        [value]="value()"
        (onInput)="onValueInput($event)"
        [autocapitalize]="false"
    ></app-input>

    @if (isOptionsVisible() && filteredOptions().length > 0) {
        <div class="input-dropdown-content">
            <ul class="input-dropdown-menu">
                @for (option of filteredOptions(); track $index) {
                    <li class="input-dropdown-menu-item" (click)="selectOption(option)">
                        &#64; {{ option.value }}
                    </li>
                }
            </ul>
        </div>
    }
</div>
