<div class="input-dropdown">
    <app-searchbar
        class="input"
        type="text"
        [inputName]="name()"
        [inputId]="id()"
        [searchValue]="value()"
        [placeholder]="placeholder()"
        (onSearchChanged)="onValueInput($event)"
        [autocapitalize]="false"
    ></app-searchbar>

    @if (isOptionsVisible() && filteredOptions().length > 0) {
        <div class="input-dropdown-content">
            <ul class="input-dropdown-menu">
                @for (option of filteredOptions(); track $index) {
                    <li class="input-dropdown-menu-item" (click)="selectOption(option)">
                        &#64; {{ option.value }}
                    </li>
                }
            </ul>
        </div>
    }
</div>
