.input-dropdown {
    position: relative;
}

.input-dropdown-content {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    width: 100%;
}

.input-title-options {
    margin-bottom: 0.25rem;
    padding: 0.25rem 0 0.5rem;
    border-bottom: 0.1rem solid var(--border-color);
}

.input-dropdown-menu {
    list-style: none;
    color: var(--primary-text-color);
    transition: all 0.3s;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    align-items: center;
}

.input-dropdown-menu-item {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-radius: var(--full-radius);
    background-color: var(--default-btn-color);
    color: var(--secondary-text-color);
}
